* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Wix Madefor Display", sans-serif;
}
#root {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
